<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83919365720-v9g6t4eap8bmoqsv5d4i02jg8fquucam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83919365720-v9g6t4eap8bmoqsv5d4i02jg8fquucam</string>
	<key>API_KEY</key>
	<string>AIzaSyApMx6ANJWPF24ZelOYzWd4budQZOU7sK4</string>
	<key>GCM_SENDER_ID</key>
	<string>83919365720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panthony.storPaper</string>
	<key>PROJECT_ID</key>
	<string>storpaper-457f6</string>
	<key>STORAGE_BUCKET</key>
	<string>storpaper-457f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83919365720:ios:9a415f29d8a02a41</string>
	<key>DATABASE_URL</key>
	<string>https://storpaper-457f6.firebaseio.com</string>
</dict>
</plist>